* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  --container-padding: 100px;
  --section-padding: 5em;

  --input-height: 40px;

  --color-blue: #2B7CE9;
  --color-blue-light: #97C2FC;
}

#vis {
  padding-top: var(--section-padding);
  padding-inline: var(--container-padding);
  width: 100%;
  height: calc(100vh - 2 * var(--section-padding) - var(--container-padding) - 40px);

}

html {
  color: white;

  background-color: #eee;
}

fieldset {
  position: relative;
}

input {
  height: var(--input-height);
  width: min(20vw, 300px);
  padding: 10px;

  font-family: sans-serif;
  font-size: 20px;
  background-color: #eee;

  border: 1px solid #aaa;
  border-radius: 6px;
}

input:active {
  border: 1px solid rgb(41, 41, 187);
}

label {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 12px;
  color: #aaa;

  background-color: #eee;

  transform: translate(8px, -50%);
}

/* UTILS */

.container {
  position: relative;

  padding-inline: var(--container-padding);
}

.section {
  padding-top: var(--section-padding);
}

button {
  width: 100%;
  max-width: 300px;
  padding: 6px 16px;
  margin-top: 1em;

  background-color: var(--color-blue);
  border: 2px solid var(--color-blue-light);


  color: white;

  border-radius: 0.1em;

  cursor: pointer;
}